@import "highlight.css";

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header {
    background: linear-gradient(#335599, #223366);
    color: white;
    display: flex;
    gap: 1em;

    a {
        color: white;
        text-decoration: none;
    }

    .logo {
        height: 10rem;
        margin-top: -1.5rem;
        margin-bottom: -1.5rem;
        filter: drop-shadow(0 0 0.2rem white);
    }
}

main {
    flex: 1;
    padding: 2rem 2rem 6rem 2rem;
    line-height: 1.3;

    img {
        max-width: 100%;
    }
}

article {
    margin: 0 auto;
    max-width: 52rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0;
    font-weight: 700;
    color:#222222;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    padding-left: 0.5em;
    border-left: 0.25em solid #335599;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #EAEAEA;
    color: #335599;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.1rem;
}

h6 {
    font-size: 1rem;
}

pre.highlight {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0.5em;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.05);
    overflow: auto;
}

footer {
    background: linear-gradient(#335599, #223366);
    color: white;
    min-height: 2rem;
}
