@import "highlight.css";

:root {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 52rem;
    margin: 0 auto;
}

pre.highlight {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0.5em;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.05);
}
