<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
  <header>
    <img class="logo" src="assets/images/eye.svg">
    <div>
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
    </div>
  </header>
  <main>
    <section>
      {{ content }}
    </section>
  </main>
  <footer>
  </footer>
</body>

</html>